.CONTAINER {
    display: flex;
    flex-direction: column;
    align-items: center;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.SQUARE {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 17px;
    width: 300px;
    height: 200px;
    border: 1px solid black;
    resize: none;
}
.DOWN {
    width: 100px;
    margin-top: 10px;
}
